body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; 
  }
  html{
    scroll-behavior: smooth;
  }
  header {
    background-color: #022B42;
    color: white;
    padding: 0.5rem;
  } 
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
  } 
  .logo-image {
    width: 50px; /* Set the width of your logo */
    margin-left: 30px; /* Adjust spacing between logo and text */
  }
  .logo h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 30px;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  } 
  nav ul li {
    margin-left: 10px;
    padding: 30px;
  } 
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  .container {
    margin: 1rem;
    text-align: center;
  }
  .welcome-image {
    max-width: 60%;
    height: auto;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 10px; /* Adding curved edges */
  }
  .image-and-text {
    display: flex;
    align-items: left;
    padding: 10px;
  }
  .text-on-left {
    flex: 1;
  }
.welcome-box{
    text-align: left;
}
.welcome-box h1{
  font-size: 5pc;
}
.welcome-box h2{
  font-size: 3rem;
}

  /* Aligning the dashboard section */
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center; /* Horizontally center the content */
  padding-top: 50px;
}
/* Styles for the dashboard items with curved edges */
.dashboard-item2,
.dashboard-item4,
.dashboard-item6 {
  border: 1px solid #022B42;
  padding: 20px;
  text-align: center;
  border-radius: 15px; /* Adding curved edges */
  background-color: #FDD387;
  height: 1500px;
}
.dashboard-item1,
.dashboard-item3,
.dashboard-item5 {
  border : 1px solid #022B42;
  padding: 20px;
  text-align: center;
  border-radius: 15px; /* Adding curved edges */
  background-color: #022B42;
  height: 1500px;
}

/* Styles for the logo-above-heading divs */
.logo-above-heading,
.logo-above-heading1,
.logo-above-heading2,
.logo-above-heading3,
.logo-above-heading4,
.logo-above-heading5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin between items */
}

/* Styles for the images within the logo-above-heading divs */
.logo-image,
.logo-image1,
.logo-image2,
.logo-image3,
.logo-image4,
.logo-image5 {
  width: 50px;
  margin-bottom: 5px; /* Adjust margin between logo and heading */
}

  .dashboard-item1 {
    border-style: black;
    color: white;
    padding: 2rem;
    text-align: center;
    max-width: 300px; /* Set a larger maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
  }
  .dashboard-item1:hover {
    background-color: #FDD387; /* Change to your desired color */
      color: black;
}
  .dashboard-item2 {
    border-style: black;
    padding: 2rem;
    text-align: center;
    max-width: 300px; /* Set a larger maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
  }
  .dashboard-item2:hover {
    background-color: #022B42; /* Change to your desired color */
    color: white
}
  .dashboard-item3 {
    border-style: black;
    color: white;
    padding: 2rem;
    text-align: center;
    max-width: 300px; /* Set a larger maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
  }
  .dashboard-item3:hover {
    background-color: #FDD387; /* Change to your desired color */
    color: black;
}
  .dashboard-item4 {
    border-style: black;
    padding: 2rem;
    text-align: center;
    max-width: 300px; /* Set a larger maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
  }
  .dashboard-item4:hover {
    background-color: #022B42; /* Change to your desired color */
    color: white
}
  .dashboard-item5 {
    border-style: black;
    color: white;
    padding: 2rem;
    text-align: center;
    max-width: 300px; /* Set a larger maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
  }
  .dashboard-item5:hover {
    background-color: #FDD387; /* Change to your desired color */
    color: black;
}
  .dashboard-item6 {
    border-style: black;
    padding: 2rem;
    text-align: center;
    max-width: 300px; /* Set a larger maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
  }
  .dashboard-item6:hover {
    background-color: #022B42; /* Change to your desired color */
    color: white
}
  .logo-above-heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .logo-above-heading .logo-image {
    width: 50px; /* Set width for the logo */
    margin-right: 10px; /* Adjust spacing between logo and heading */
    background-position: top;
  }
  .logo-above-heading1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .logo-above-heading1 .logo-image1 {
    width: 50px; /* Set width for the logo */
    margin-right: 10px; /* Adjust spacing between logo and heading */
    background-position: top;
  }
  .logo-above-heading2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .logo-above-heading2 .logo-image2 {
    width: 50px; /* Set width for the logo */
    margin-right: 10px; /* Adjust spacing between logo and heading */
    background-position: top;
  }
  .logo-above-heading3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .logo-above-heading3 .logo-image3 {
    width: 50px; /* Set width for the logo */
    margin-right: 10px; /* Adjust spacing between logo and heading */
    background-position: top;
  }
  .logo-above-heading4 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .logo-above-heading4 .logo-image4 {
    width: 50px; /* Set width for the logo */
    margin-right: 10px; /* Adjust spacing between logo and heading */
    background-position: top;
  }
  .logo-above-heading5 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .logo-above-heading5 .logo-image5 {
    width: 50px; /* Set width for the logo */
    margin-right: 10px; /* Adjust spacing between logo and heading */
    background-position: top;
  }
  .image-and-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
  } 
  .bk-image{
    max-width: 50%;
    height: auto;
    margin-left: 30px; 
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid white;
  }
  .text-on-left {
    flex: 1;
  } 
  .text-on-left h3 {
    font-size: 1.5em;
  }
  .text-on-left p {
    font-size: 1.1em;
  }
  .image-and-text1 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
  }
  .image-and-text1 img {
    max-width: 50%; /* Decreased width to fit the image on the left */
    height: auto;
    margin-left: 30px; /* Adjusted margin for the image */
    border-radius: 10px; /* Adding curved edges */
  }
  .Drive{
    max-width: 50%;
    height: auto;
    margin-left: 30px; 
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid white;
  }
  .text-on-right {
    flex: 1;
  }
  .text-on-right h1 {
    font-size: 2rem; /* Adjusted font size */
    text-align: center; /* Aligned text to the left */
  } 
   .image-and-text3 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
  } 
  .mission-image{
    max-width: 60%;
    height: auto;
    margin-left: 30px; 
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid white;
  }
  .text-on-left {
    flex: 1;
  } 
  .text-on-left h3 {
    font-size: 1.5em;
  }
  .text-on-left p {
    font-size: 1.1em;
  }
  .image-and-text2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
  } 
  .touch{
    max-width: 50%;
    height: auto;
    margin-left: 30px; 
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid white;
  }
  .text-on-left1 {
    flex: 1;
  } 
  .text-on-left1 h3 {
    font-size: 1.5em;
  }
  .text-on-left1 p {
    font-size: 1.1em;
  }

  .contact-form {
    max-width: 400px;
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color:#f7f7f7 ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .contact-form h3 {
    text-align: center;
  }

  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .contact-form textarea {
    resize: vertical;
  }

  .contact-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: white;
    cursor: pointer;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #0052a3;
  }
  .footer {
    background-color:#022B42;
    color: white;
    padding: 200px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer h3 {
    margin: 0;
    font-size: 2rem;
  }

  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer ul li {
    margin-bottom: 5px;
  }

  .footer p {
    margin: 0;
    font-size: 0.9em;
  }
